/* Original styles */

.weatherBg {
  background: url(https://img.freepik.com/free-vector/gorgeous-clouds-background-with-blue-sky-design_1017-25501.jpg) center/cover no-repeat;
  height: 50vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading {
  color: white;
  font-weight: 700;
}
.form-control{
  font-size: 16px;
}

.weatherResultBox {
  margin: auto;
  margin-top: -3rem;
  width: 500px;
  height: 380px;
  background-color: whitesmoke;
}

.icon {
  margin-top: 2rem;
  width: 100px;
  height: 100px;
}

.weatherCity {
  font-size: 35px;
}

.weatherTemp {
  font-size: 55px;
  font-weight: 700;
}

.weather-description {
  color: blue;
  margin: 0px 0;
}

.humidity {
  color: green;
  margin: 0px 0;
}

.pressure {
  color: red;
  margin: 0px 0;
}

.windspeed {
  color: coral;
  margin: 0px 0;
}

.visibility {
  color: brown;
  margin: 0px 0;
}

/* Responsive styles */

@media (max-width: 768px) {
  .weatherResultBox {
    width: 80%;
    height: auto;
  }

  .weatherTemp {
    font-size: 40px;
  }

  .icon {
    width: 80px;
    height: 80px;
  }

  .weatherCity {
    font-size: 28px;
  }
  
  .weatherBg {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .weatherResultBox {
    width: 90%;
  }
  .form-control{
  font-size: 12px;
  }

  .weatherTemp {
    font-size: 32px;
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .weatherCity {
    font-size: 24px;
  }
}
